[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
pymon = "*"
matplotlib = "*"
numpy = "*"
bcrypt = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
